@model ExpenseTracker.WebUI.Models.Category.ListModel

@{
    ViewData["Title"] = "Kategoriler";
}

<p>
    <a asp-action="Create">Yeni Kategori</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
