@model ExpenseTracker.WebUI.Models.Dashboard.IndexModel

@{
    ViewData["Title"] = "Özet";
}

<h1 class="text-center">Özet</h1>
<h3 class="text-center">[ @Model.CurrentMonth - @Model.CurrentYear ]</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Kategori
            </th>
            <th>
                Kayıtlı Tutar
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Categories?.Count > 0)
        {
            foreach (var mainCategory in Model.Categories)
            {
                @*<tr style="background: #0094ff">*@
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => mainCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mainCategory.RecordedAmount)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
